.screenshot{ float:left; margin:0 20px 20px 0; }
.screenshot img{ border:none; margin:0; }
.screenshot:hover img{ border:none; }

.archive .portfolio-item{ margin:20px 0 60px; padding:0 0 40px; border-bottom:1px solid rgba(200,200,200,0.5); position:relative; top:0; left:0; }
.archive .portfolio-item:last-child{ border-bottom:none; }
.archive .portfolio-item aside{ height:auto; margin:0 0 20px 0;}
.archive .portfolio-item .img{ -webkit-border-radius:15px; border-radius:15px; box-shadow:0 0 7px 1px #111; position:relative; top:0; left:0; display:block; }

.archive .portfolio-item .img img{ width:100%; height:auto; border:1px solid #000; -webkit-border-radius:15px; border-radius:15px; }
.archive .portfolio-item .img img:hover { border:1px solid #ddd; }
.archive .portfolio-item .img:before, .archive .portfolio-item .img:after { z-index: -1; position: absolute; content: "";bottom: 15px;left: 10px;width: 50%;top: 80%;max-width:450px;background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.archive .portfolio-item .img:after{left: auto;right: 10px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.article h2{ font-size:1.625em;}
.article{ margin:0 0 30px; padding-bottom:30px; border:0; border-bottom:1px solid rgba(200,200,200,0.2); }
.article aside{ float:right; width:auto; height:auto; margin:0 0 20px 20px; overflow:hidden;}
.article aside img{ margin:0; height:150px; max-width:100%; max-height:100%;  }
.article a img, .article a:hover img{ border:none;}
.article.sticky{ border-bottom:1px solid #aaa;}
.article.sticky aside{ float:none; display:block; text-align:center; margin:0 0 20px 0; }
.article.sticky aside img{ height:200px; margin:0 auto; }

.buttons{margin:40px 0;}
.buttons .button{ margin:5px;}

.aside{ padding:10px; background:rgba(0,0,0,0.2); border:1px solid #000; -webkit-border-radius:3px; border-radius:3px; font-size:90%; margin:20px 0; }
.aside h4{ line-height:1; }
.aside img{ float:left; margin:0; border:none; }
.aside.author{ font-size:100%; }
.aside.author p { padding:0; }
.aside.author a { white-space:nowrap; }
.aside.author img{background:#aaa; margin:0 15px 15px 0;}