.demo{
  height:470px; margin-bottom:20px; 
  .preview{
    display:block; margin:0 auto 20px; text-align: center;
    img{
      border-radius:50%; vertical-align: middle; 
    }
  }
  h2{
    font-size: 1.375em; 
  }
}