#header{ padding:10px 0 0; width:100%; }
#header #logo{ display:inline-block; max-width:100%; float:left; overflow:hidden; position:relative; top:0; left:0; }
#header #logo img{  display:inline-block; max-width:100%; border:none; background:none; margin:0; }
#header #logo:hover img{ border:none; }
#header h1, #header h2{ position:absolute; top:0; left:0; text-shadow:#111 4px 4px 5px; text-indent:-9999px; margin:0; color:rgb(65,180,255); line-height:1; }
#logo:hover{ text-decoration:none; }
#header h1{ font-size:4.0625em; }
#header h2{ color:#ddd; font-size:1.25em;}