/*=====MAIN====================*/
#main{ width:100%; min-height:1000px; margin:50px auto 150px;}

/*=====SIDEBAR=====================*/
#sidebar{ width:23%; float:right; }
#sidebar ul, .list{ padding:0; margin:0; list-style:none;}
#sidebar .widget{ font-size:90%; padding:10px; margin-bottom:10px; background:rgba(0,0,0,0.2); border:1px solid #000; -webkit-border-radius:3px; border-radius:3px;}
