.feeds .tumblelog-item{ margin:0 0 20px; border:1px solid rgba(200,200,200,0.5); position:relative; }
.feeds .tumblelog-item .tumblelog-item-icon{ position:absolute; top:15px; left:20px; background:url('images/icons/rss.png') no-repeat; display:inline-block; padding:0 0 0 60px; height:60px; font-weight:bold; line-height:50px; width:50px; height:50px; padding:0; margin:0 8px 10px 0; }
.feeds .tumblelog-item img{ margin:0; max-width:250px; max-height:250px; }

.feeds .tumblelog-item[data-url*='facebook'] .tumblelog-item-icon{ background:url('images/icons/facebook.png') no-repeat; }
.feeds .tumblelog-item[data-url*='twitter'] .tumblelog-item-icon{ background:url('images/icons/twitter.png') no-repeat; }
.feeds .tumblelog-item[data-url*='linkedin'] .tumblelog-item-icon{ background:url('images/icons/linkedin.png') no-repeat; }
.feeds .tumblelog-item[data-url*='youtube'] .tumblelog-item-icon{ background:url('images/icons/youtube.png') no-repeat; }
.feeds .tumblelog-item[data-url*='wordpress'] .tumblelog-item-icon{ background:url('images/icons/wordpress.png') no-repeat; }
.feeds .tumblelog-item[data-url*='github'] .tumblelog-item-icon{ background:url('images/icons/github.png') no-repeat; }
.feeds .tumblelog-item[data-url*='pinterest'] .tumblelog-item-icon{ background:url('images/icons/pinterest.png') no-repeat; }
.feeds .tumblelog-item[data-url*='goodreads'] .tumblelog-item-icon{ background:url('images/icons/goodreads.png') no-repeat; }

.feeds .tumblelog-item{
  padding:15px 20px 15px 90px; background:#eee; -webkit-border-radius:3px; border-radius:3px; color:#111;
}
.feeds .tumblelog-item:nth-child(odd){ background:#fff; ;}
.feeds .tumblelog-item h3, .feeds .tumblelog-item a, .feeds .tumblelog-item blockquote{ color:#111; text-shadow:none; }