.wp_syntax{ border:none !important; background:#aaa url('images/bright_squares.png') !important; display:block; width:auto !important; padding:10px; line-height:1.5 !important; -webkit-border-radius:10px; border-radius:10px; }
.wp-smiley{ background:none; border:none; width:auto; height:auto; vertical-align:top; margin:0;}
.sticky, .gallery-caption, .bypostauthor {}
.alignnone { margin: 5px 20px 20px 0; }
.aligncenter, div.aligncenter { display:block; margin: 5px auto 5px auto; }
.alignright { float:right; margin: 5px 0 20px 20px; }
.alignleft { float:left; margin: 5px 20px 20px 0; }
.aligncenter { display: block; margin: 5px auto 5px auto; }
a img.alignright { float:right; margin: 5px 0 20px 20px !important; }
a img.alignnone { margin: 5px 20px 20px 0 !important; }
a img.alignleft { float:left; margin: 5px 20px 20px 0 !important; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%; /* Image does not overflow the content area */ padding: 5px 3px 10px; text-align: center;}
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin:0; max-width: 98.5%; padding:0; width: auto; }
.wp-caption p.wp-caption-text { font-size:0.6875em; line-height:17px; margin:0; padding:0 4px 5px; }
